@use '../variables/colors.scss' as *;
@use '../variables/fonts.scss' as *;

body {
    width: 100%;
    height: 100%;
    background-color: $background;
    font-family: $primary-font;
}

.navbar {
    background-color: $nav-color;
}

.fa-apple-alt {
    color: $logo-color;
}

.navbar-menu{
    h1 {
        color: $text-color;
        font-weight: 700;
        font-size: larger;
        font-family: $primary-font;
        margin-left: 10px;
    }
}

#search-btn {
    color: $nav-color;
    background-color: $logo-color;
    font-weight: bold;
}

#reg-btn {
    background-color: $text-color;
    color: $nav-color;
}

#log-btn {
    background-color: $background;
    color: $nav-color;
    font-weight: bold;
}

#reg-confirm {
    background-color: $background;
    color: $nav-color;
    font-weight: bold;
}

#reg-cancel {
    background-color: $logo-color;
    color: $nav-color;
    font-weight: bold;
}

#log-confirm {
    background-color: $background;
    color: $nav-color;
    font-weight: bold;
}

#log-cancel {
    background-color: $logo-color;
    color: $nav-color;
    font-weight: bold;
}

#user {
    color: $text-color;
    font-weight: bold;
    font-family: $primary-font;
}

#logout-btn {
    background-color: $logo-color;
    font-family: $primary-font;
    font-weight: bold;
    color: $nav-color;
    margin: 5px 5px 0 0;
}

#cards-container {
    margin: 20px;
}

.movie-img {
    height: 100%;
    width: 100%;
}

.overflow {
    overflow: hidden;
}

.box {
    margin-top: 10px;
    background-color: $text-color;
}

#new-submit {
    background-color: $text-color;
    font-family: $primary-font;
    color: $nav-color;
    font-weight: bold;
}

.flip-card-container {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    // border-radius: 2em;
}
.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip-card-container:hover .flip-card {
    transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 0.5rem;
}

.flip-card-back {
    background-color: $card-background;
    color: $text-color;
    transform: rotateY(180deg);
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    // border-radius: 0.5rem;
}
.flip-card-back p {
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-family: $primary-font;
}

#movie-title {
    color: $logo-color;
}

.flip-card-back p span {
    display: block;
    font-size: 1rem;
    margin-top: 1.25rem;
}

#footer {
    background-color: $footer-color;
    color: $text-color;
}

strong {
    color: $text-color;
}

hr {
    background-color: $text-color;
}

li {
    list-style: none;
}

.info-box {
    box-shadow: 3px 3px 7px $text-color;
    // padding: 5px;
    border-radius: 4px;
    background: $nav-color;
}

.movie-info {
    color: $text-color;
    border: $text-color;
}

#title {
    font-weight: 700;
    color: $text-color;
} 

#description {
    color: $text-color;
}

#create-btn {
    background-color: $text-color;
    color: $nav-color;
    margin-left: 35px;
    margin-bottom: 40px;
    font-weight: bold;
}

#review-submit {
    background-color: $text-color;
    color: $nav-color;
    font-weight: bold;
}

.modal-box {
    background: $review-background;
}

.modal-content {
    margin-top: 300px;
    overflow: hidden;
}

.modal-content {
    margin-top: 0;
}

#reg-warn-modal {
    margin: 0;
    width: 100%;
    height: 100%;
}

#log-warn-modal {
    margin: 0;
    width: 100%;
    height: 100%;
}

#log-error {
    border-radius: 0;
    margin-bottom: 0;
}

#review-box {
    background: $nav-color;
    margin-top: 30px;
    box-shadow: 3px 3px 7px $text-color;
}

#review-rating, #review-content {
    color: black;
}

.edit-btn {
    font-weight: bold;
    margin-left: 20px;
    background-color: $text-color;
    color: $nav-color;
}

#edit-submit {
    background: $text-color;
    color: $nav-color;
    font-weight: bold;
}

#remove-btn {
    font-weight: bold;
    margin: 0 5px 0 5px;
    background-color: $logo-color;
    color: $nav-color;
}

#error-card {
    max-width: 625px;
    text-align: center;
    background-color: $background;
    box-shadow: none;
    color: $nav-color;
    margin-top: 100px;
    margin-bottom: 75px;
    h1 {
        color: $nav-color;
    }
}

#jgithub {
    margin: 0 3px 0 3px;
}

#jlinked {
    margin: 0 3px 0 3px;
}

#dgithub {
    margin: 0 3px 0 3px;
}

#dlinked {
    margin: 0 3px 0 3px;
}