body {
  width: 100%;
  height: 100%;
  background-color: #0D698B;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #F2F1E8;
}

.fa-apple-alt {
  color: #E34234;
}

.navbar-menu h1 {
  color: #050533;
  font-weight: 700;
  font-size: larger;
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
}

#search-btn {
  color: #F2F1E8;
  background-color: #E34234;
  font-weight: bold;
}

#reg-btn {
  background-color: #050533;
  color: #F2F1E8;
}

#log-btn {
  background-color: #0D698B;
  color: #F2F1E8;
  font-weight: bold;
}

#reg-confirm {
  background-color: #0D698B;
  color: #F2F1E8;
  font-weight: bold;
}

#reg-cancel {
  background-color: #E34234;
  color: #F2F1E8;
  font-weight: bold;
}

#log-confirm {
  background-color: #0D698B;
  color: #F2F1E8;
  font-weight: bold;
}

#log-cancel {
  background-color: #E34234;
  color: #F2F1E8;
  font-weight: bold;
}

#user {
  color: #050533;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

#logout-btn {
  background-color: #E34234;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #F2F1E8;
  margin: 5px 5px 0 0;
}

#cards-container {
  margin: 20px;
}

.movie-img {
  height: 100%;
  width: 100%;
}

.overflow {
  overflow: hidden;
}

.box {
  margin-top: 10px;
  background-color: #050533;
}

#new-submit {
  background-color: #050533;
  font-family: "Roboto", sans-serif;
  color: #F2F1E8;
  font-weight: bold;
}

.flip-card-container {
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
  transform: rotateY(180deg);
  /* <=>  rotateY(.5turn) */
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #F2F1E8;
  color: #050533;
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
}

.flip-card-back p {
  text-align: center;
  margin: 1rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
}

#movie-title {
  color: #E34234;
}

.flip-card-back p span {
  display: block;
  font-size: 1rem;
  margin-top: 1.25rem;
}

#footer {
  background-color: #F2F1E8;
  color: #050533;
}

strong {
  color: #050533;
}

hr {
  background-color: #050533;
}

li {
  list-style: none;
}

.info-box {
  box-shadow: 3px 3px 7px #050533;
  border-radius: 4px;
  background: #F2F1E8;
}

.movie-info {
  color: #050533;
  border: #050533;
}

#title {
  font-weight: 700;
  color: #050533;
}

#description {
  color: #050533;
}

#create-btn {
  background-color: #050533;
  color: #F2F1E8;
  margin-left: 35px;
  margin-bottom: 40px;
  font-weight: bold;
}

#review-submit {
  background-color: #050533;
  color: #F2F1E8;
  font-weight: bold;
}

.modal-box {
  background: #F2F1E8;
}

.modal-content {
  margin-top: 300px;
  overflow: hidden;
}

#review-box {
  background: #F2F1E8;
  margin-top: 30px;
  box-shadow: 3px 3px 7px #050533;
}

#review-rating, #review-content {
  color: black;
}

.edit-btn {
  font-weight: bold;
  margin-left: 20px;
  background-color: #050533;
  color: #F2F1E8;
}

#edit-submit {
  background: #050533;
  color: #F2F1E8;
  font-weight: bold;
}

#remove-btn {
  font-weight: bold;
  margin: 0 5px 0 5px;
  background-color: #E34234;
  color: #F2F1E8;
}

#error-card {
  max-width: 625px;
  text-align: center;
  background-color: #0D698B;
  box-shadow: none;
  color: #F2F1E8;
  margin-top: 100px;
  margin-bottom: 75px;
}
#error-card h1 {
  color: #F2F1E8;
}

#jgithub {
  margin: 0 3px 0 3px;
}

#jlinked {
  margin: 0 3px 0 3px;
}

#dgithub {
  margin: 0 3px 0 3px;
}

#dlinked {
  margin: 0 3px 0 3px;
}

/*# sourceMappingURL=main.css.map */
